<% @page_title = t("tasks.gantt_title", title: Setting.productName) %>

<%= render(:partial => "task_filters/search_filter", :locals => { :redirect_params => { :tag => params[:tag] }}) %>
<%= render 'tabbar', active: 'gantt' %>

<div id="gantt"></div>

<script type="text/javascript">
  jQuery(function() {
    new jobsworth.Gantt({container: jQuery("#gantt")});
  })
</script>

<div id="task">
</div>

