<div id="header-logged-mainmenu" class="clearfix">
  <div class="left-logged-menu">
    <div class="mainmenu-item selected">
      <div class="center">
        <span><a href="#">Jobsworth</a></span>
        <span class="notification-count"><a href="">2</a></span>
      </div>
    </div>

    <div class="mainmenu-item">
      <div class="center">
        <span><a href="#">Igénylések</a></span>
      </div>
    </div>
    <div class="mainmenu-item">
      <div class="center">
        <span><a href="#">Útnyilvántartás</a></span>
      </div>
    </div>
    <div class="mainmenu-item">
      <div class="center">
        <span><a href="#">Szerződések</a></span>
      </div>
    </div>

  </div>

  <div class="header-more-logged-menu">
    <div class="header-more-icon"> >> </div>
    <div class="header-more-menu">
      <div class="mainmenu-item">
        <div class="center">
          <span><a href="#">Szállítói adatok</a></span>
        </div>
      </div>
      <div class="mainmenu-item">
        <div class="center">
          <span><a href="#">Kimutatások</a></span>
        </div>
      </div>
    </div>
  </div>

  <div class="right-logged-menu">
    <div class="help-menu">
      <a href="#" title="Segítség"></a>
    </div>
    <div class="admin-menu">
      <div class="mainmenu-item">
        <div class="center">
          <span><a href="#">Admin</a></span>
        </div>
      </div>
    </div>
  </div>
</div>
